.bgLinear{
  background: linear-gradient(45deg, #0065b6 10%, #5253CA 30% , #CB2E78 100% ) ;
  max-width: 100%;
  min-height: 100vh;
}
.imglogin{
  background-image: url('');
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-decoration-none {
  text-decoration: none;
}
.textos1{
  font-weight: bold !important;
}