.imgHome{
  max-width:100% !important;
  max-height:400% !important;
}

.caixa{
  background-color: #ffffff;
}

.titulo{
 color: #0f053e !important;
 font-weight: bold !important;
}

.botao{
  border-color: #e6059a!important;
  background-color: #0f053e;
  color:#0f053e!important;
}

.postagens{
  background-color: #ffffff;
}

.text-decorator-none{
  text-decoration: none;
}