.cor-navbar {
  background: #408575!important;
}
.menuItens{
  padding:100px!important;
  align-items: center;
}
.MuiButton-textPrimary {
  color: #ffffff!important;

}
.text-decoration-none{
  text-decoration: none!important;
}
.Avatar{
  justify-content:flex-end!important;
}
.logout{
  text-decoration: none !important;

}
.btn-logout {
  background: #00796b !important;
}

.btn-logout:hover {
  color: black;
  background: #000000 !important;
  box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.3) !important;
}