.bg-cadastro {
  min-height: 100vh;
  background-image: url('https://img.freepik.com/premium-vector/web-development_73903-164.jpg?w=826');
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width:200px;
  height:200px;
  
}

.bgCad{
  background: #ffffff ;
  max-width: 100%;
  min-height: 100vh;
}

.btgCancelar{
  color: #f9d5af;
}
.text-decoration-none{
  text-decoration:none;
}